<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>myanmar_emergency.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C0F47241147F3B43B25B8FB6B4CAADFDDDD92061</string>
				<key>dateExpires</key>
				<string>6/6/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C0F47241147F3B43B25B8FB6B4CAADFDDDD92061</string>
						<key>dateExpires</key>
						<string>6/6/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3NAL74448Z</string>
						<key>name</key>
						<string>Poe Poe Myint Swe</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C0F47241147F3B43B25B8FB6B4CAADFDDDD92061</string>
						<key>dateExpires</key>
						<string>6/6/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3NAL74448Z</string>
						<key>name</key>
						<string>Poe Poe Myint Swe</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C0F47241147F3B43B25B8FB6B4CAADFDDDD92061</string>
						<key>dateExpires</key>
						<string>6/6/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3NAL74448Z</string>
						<key>name</key>
						<string>Poe Poe Myint Swe</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C0F47241147F3B43B25B8FB6B4CAADFDDDD92061</string>
						<key>dateExpires</key>
						<string>6/6/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3NAL74448Z</string>
						<key>name</key>
						<string>Poe Poe Myint Swe</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C0F47241147F3B43B25B8FB6B4CAADFDDDD92061</string>
						<key>dateExpires</key>
						<string>6/6/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3NAL74448Z</string>
						<key>name</key>
						<string>Poe Poe Myint Swe</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C0F47241147F3B43B25B8FB6B4CAADFDDDD92061</string>
						<key>dateExpires</key>
						<string>6/6/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseDatabase.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3NAL74448Z</string>
						<key>name</key>
						<string>Poe Poe Myint Swe</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C0F47241147F3B43B25B8FB6B4CAADFDDDD92061</string>
						<key>dateExpires</key>
						<string>6/6/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3NAL74448Z</string>
						<key>name</key>
						<string>Poe Poe Myint Swe</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C0F47241147F3B43B25B8FB6B4CAADFDDDD92061</string>
						<key>dateExpires</key>
						<string>6/6/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3NAL74448Z</string>
						<key>name</key>
						<string>Poe Poe Myint Swe</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C0F47241147F3B43B25B8FB6B4CAADFDDDD92061</string>
						<key>dateExpires</key>
						<string>6/6/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3NAL74448Z</string>
						<key>name</key>
						<string>Poe Poe Myint Swe</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C0F47241147F3B43B25B8FB6B4CAADFDDDD92061</string>
						<key>dateExpires</key>
						<string>6/6/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Reachability.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3NAL74448Z</string>
						<key>name</key>
						<string>Poe Poe Myint Swe</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C0F47241147F3B43B25B8FB6B4CAADFDDDD92061</string>
						<key>dateExpires</key>
						<string>6/6/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>connectivity.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3NAL74448Z</string>
						<key>name</key>
						<string>Poe Poe Myint Swe</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C0F47241147F3B43B25B8FB6B4CAADFDDDD92061</string>
						<key>dateExpires</key>
						<string>6/6/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_downloader.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3NAL74448Z</string>
						<key>name</key>
						<string>Poe Poe Myint Swe</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C0F47241147F3B43B25B8FB6B4CAADFDDDD92061</string>
						<key>dateExpires</key>
						<string>6/6/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>leveldb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3NAL74448Z</string>
						<key>name</key>
						<string>Poe Poe Myint Swe</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C0F47241147F3B43B25B8FB6B4CAADFDDDD92061</string>
						<key>dateExpires</key>
						<string>6/6/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3NAL74448Z</string>
						<key>name</key>
						<string>Poe Poe Myint Swe</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C0F47241147F3B43B25B8FB6B4CAADFDDDD92061</string>
						<key>dateExpires</key>
						<string>6/6/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3NAL74448Z</string>
						<key>name</key>
						<string>Poe Poe Myint Swe</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C0F47241147F3B43B25B8FB6B4CAADFDDDD92061</string>
						<key>dateExpires</key>
						<string>6/6/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3NAL74448Z</string>
						<key>name</key>
						<string>Poe Poe Myint Swe</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C0F47241147F3B43B25B8FB6B4CAADFDDDD92061</string>
						<key>dateExpires</key>
						<string>6/6/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>url_launcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3NAL74448Z</string>
						<key>name</key>
						<string>Poe Poe Myint Swe</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C0F47241147F3B43B25B8FB6B4CAADFDDDD92061</string>
						<key>dateExpires</key>
						<string>6/6/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>video_player.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3NAL74448Z</string>
						<key>name</key>
						<string>Poe Poe Myint Swe</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C0F47241147F3B43B25B8FB6B4CAADFDDDD92061</string>
						<key>dateExpires</key>
						<string>6/6/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>wakelock.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3NAL74448Z</string>
						<key>name</key>
						<string>Poe Poe Myint Swe</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C0F47241147F3B43B25B8FB6B4CAADFDDDD92061</string>
						<key>dateExpires</key>
						<string>6/6/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>webview_flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>3NAL74448Z</string>
						<key>name</key>
						<string>Poe Poe Myint Swe</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>3NAL74448Z.live.myanmarmap.myanmarEmergency</string>
				<key>com.apple.developer.team-identifier</key>
				<string>3NAL74448Z</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>3NAL74448Z.live.myanmarmap.myanmarEmergency</string>
				</array>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>a1ff8496-7db3-4893-8904-60298f4c51f0</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: live.myanmarmap.myanmarEmergency</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>3NAL74448Z</string>
				<key>name</key>
				<string>Poe Poe Myint Swe</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
